.boton-eliminar {
    background-color: #8B4513; /* Código de color para marrón */
    color: white;
    border: 2px solid white;
        border-radius: 10px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        width: 20%;
        margin-left: 50% ;
        margin-top: 3%;
      
  }
  
  .boton-eliminar:hover {
    background-color: white;
    color: #8B4513;
    font-weight: bold;
  }
  