body {
    background-color: #F8FAE5;
    margin: 0;
}

.body-center {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 33px;
    font-weight: bold;

}

.regular-titulo {
    font-weight: lighter;
    margin-bottom: -1%;
}

.primer-titulo {
    margin-left: -25.5%;
    margin-bottom: -4.5%;
}


.img-obra {
    height: 30vw;
    width: 25vw;
}

.texto,
.texto2 {
    margin-top: -50%;
    margin-left: 50%;
}


.texto2 {
    margin-top: -2%;
}

.logo-circular {
    margin-left: 38%;
    margin-bottom: -6%;
    height: 8%;
    width: 11%;
}

.boton-agregar {
    background-color: #43766C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.boton-agregar:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

@media only screen and (min-width: 375px) and (max-width: 1000px) {
    .boton-agregar {
        height: 40px;
        width: 200px;

    }
}

@media only screen and (min-width: 375px) and (max-width: 1000px) {

    .texto,
    .texto2 {
        font-size: 10px;
    }

}